<div>
    <div *ngFor="let product of products" class="container">
      <div class="flex-container">
        <img
          class="img-thumbnail .img-responsive .flex-items"
          src="{{product.gbuy_product_img}}"
          style="height:80px;width:80px;"
        />
        <div class="flex-items">
          <p>Item Code: {{product.gbuy_product_id}}</p>
          <p>Item Name:{{product.gbuy_product_name}}</p>
          <p>Price: {{product.gbuy_product_price}}</p>
        </div>
        <div class="flex-items .flex-container">
          <button class="btn btn-primary btn-sm" (click)="view(product)">View</button>
          &nbsp;
          <button class="btn btn-primary btn-sm" (click)="addToCart(product)">
            Add to Cart
          </button>
        </div>
      </div>
    </div>
    <div>
      <button class="btn btn-primary btn-sm" (click)="goToSummary('summary')"> 
        Order Summary
      </button>
    </div>
  </div>
  