<div>
    <div class="table-responsive" *ngIf="productsSummary.length >0">
      <table class="table table-bordered table-hover">
        <thead class='thead'>
          <tr>
            <th>S.No</th>
            <th>Product</th>
            <th>Product Id</th>
            <th>Name</th>
            <th>Unit Price</th>
            <th>Quatity</th>
            <th>Total</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let list of productsSummary;index as i">
            <td>{{i+1}}</td>
              <td>
                  <img
                    class="img-thumbnail .img-responsive"
                    src="{{list.gbuy_product_img}}"
                    style="height:80px;width:80px;"
                  />  
                </td>        
            <td>{{list.gbuy_product_id}}</td>        
            <td>{{list.gbuy_product_name}}</td>
            <td>{{list.gbuy_product_price | currency: 'GBP' }}</td>
            <td>{{list.gbuy_product_quanity}}</td>
            <td>{{list.gbuy_product_price * list.gbuy_product_quanity}}</td>
            <td>
              <button
                class="btn btn-danger"
                (click)="deleteProduct(list.gbuy_product_id)"
              >
                Remove Item
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3"></td>
            <td>Price {{price | currency: 'GBP' }}</td>
            <td>Quatity {{totalQuantity}}</td>
            <td colspan="2">Sum {{totalPrice | currency: 'GBP' }}</td>
            <td> <button class="btn btn-success">
                        Submit Order            
            </button></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  
